@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #432;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .5;
}

article img {
  width: 50%;
}

h1 {
  margin-top: 16px;
  font-weight: normal;
}

h2 {
  font-size: 1.25rem;
}

li {
  list-style-position: inside;
  line-height: 2;
}

p {
  line-height: 2;
}

.wrapper {
  margin: 4% 13%;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 13%;
  background-image: url(../img/haikei.jpg);
  background-size: cover;
  height: 176px;
}

.new-contents {
  display: flex;
  justify-content: space-between;
}

.indexarticle {
  width: 74%;
}

aside {
  width: 22%;
}
.sub-menu {
  list-style: none;
}
.sub-menu li {
  border-bottom: 1px dashed lightgray ;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}

.post-info  {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray ;
  position: relative;
}

.post-info:last-child {
  border-bottom: none;
}

.pic {
  width: 180px;
  margin: auto 0;
}

.pic img {
  border-radius: 5px;
  width: 180px;
}

.desc {
  width: calc(100% - 180px - 32px);
}

.desc a {
  display: block;
}

table {
  width: 80%;
}

td {
  padding: 4px;
}

th {
  padding: 4px;
  background-color: #e1c0b6;
}

table tr:nth-child(even) {
  background-color: #eee;
}

.tright {
  text-align: right;
}

.info {
  margin-top: 16px;
  width: 304px;
}

.info a {
  color: #fff;
}

.main-nav {
  display: flex;
  list-style: none;
  margin-top: 112px;
}

.main-nav li {
  margin-left: 32px;
  text-transform: uppercase;
}

.main-nav a {
  color: #432;
}

.seni {
  text-align: center;
  margin-top: 15px;
}

.post-date {
  background: #e1c0b6;
  width: 84px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 6px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  border-radius: 5px;
}
.post-daten {
  background: #b9d0b1;
  width: 84px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 6px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
}
.post-h2 {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 8px;
}


.post-title2 {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 8px;
}

footer {
  background: #432;
  text-align: center;
  padding: 24px 0;
}

footer p {
  color: #fff;
}

.footerimg img {
  padding-top: 10px;
}

.zakki {
  padding: 16px 0 ;
}

@media (max-width: 600px) {

  .container {
    flex-direction: column;
    align-items: center;
    height: 160px;
    padding: 0 4%;
  }
  .info {
    margin-top: 8px;
    text-align: center;
  }
  .wrapper {
    margin: 4%;
  }

  .new-contents {
    flex-direction: column;
  }
  
  .indexarticle,
  aside {
    width: 100%;
  }
  .main-nav {
    margin-top: 5px;
  }

  .main-nav li {
    font-size: 1.375rem;
    margin: 0 16px;
    padding-bottom: 8px;
  }

  .post-title {
    font-size: 20px;
}
.desc {
  width: calc(100% - 180px - 16px);
}

time {
  font-size: 0.8rem;
}
.grid {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
article img {
  width: 100%;
}

table {
  width: 100%;
}
.post-title2 {
  padding-top: 8px;
  font-size: 1rem;
}
.post-h2 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 16px;
  margin-bottom: 4px;
}

}